.chat-modal {
	user-select: text;
}
.messages-wrapper {
	overflow-y: scroll;
	max-height: 600px;
}

.chat-model-text-input {
	width: 100%;
	margin-top: 20px;
}

.message-item {
padding: 5px;
}

.message-item-ai {
	padding-left: 20px;
}

.message-item-user {
	opacity: 0.6;
}

.message-item-used-docs {
	display: flex;
}

.message-item-used-docs-item {
    padding: 5px;
    border: 1px solid #555;
    border-radius: 3px;
    margin-right: 5px;
}
